#modal-backdrop {
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-backdrop.visible {
    visibility: visible;
    opacity: 100%;
}

.modal {
    --modal-height: 60vh;
    position: absolute;
    width: 60vw;
    height: var(--modal-height);
    background-color: white;
    border-radius: 8px;
}

#username-input {
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
}

h2 {
    text-align: center;
}

#settings-wrapper,
#reminders-wrapper {
    padding: 0 16px 8px;
    box-sizing: border-box;
}

:is(#settings-wrapper, #reminders-wrapper) > h2 {
    position: relative;
}

.modal-closeButton {
    position: absolute;
    right: 0;
    font-size: 40px;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    padding: 0.1em;
    display: flex;
    justify-content: center;
}

.modal-closeButton:hover {
    transition: 0.1s;
    cursor: pointer;
    background-color: rgba(0 0 0 / 10%);
}

#name-editor form {
    display: inline-block;
}
