#sidenav {
    z-index: 1;
    background-color: white;
    border-right: 1px solid var(--light-grey);
    padding: 0 3em;
}

#sidenav h2 {
    text-align: left;
}

.recent-chat {
    display: flex;
    align-items: center;
    height: 3em;
    border-radius: 8px;
    padding: 1em;
}

.recent-chat:hover {
    transition: 0.2s;
    background-color: rgba(0 0 0 / 20%);
    cursor: pointer;
}

.recent-chat:hover h3 {
    transform: scale(1.05);
    transform-origin: center;
}

.selected {
    background-color: rgba(0 0 0 / 10%);
}
