#reminder-button {
    width: 100%;
    margin-top: 1em;
}

#reminders-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#reminders-wrapper h2 {
    margin: 0;
    height: calc(var(--modal-height) * 0.2);
}

#reminders-wrapper :is(#home, #new) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--modal-height) * 0.8);
}

#reminders-wrapper > div {
    display: flex;
    flex-direction: column;
}

#reminders-wrapper #new form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;
}

#reminders-wrapper #button-holder {
    display: flex;
    gap: 1em;
}
#reminders-wrapper #button-holder > * {
    flex: 1;
}

#reminder-controls {
    display: flex;
}

#reminder-controls button:last-child {
    margin-left: auto;
}

#reminder-chatSearcher {
    position: relative;
}

.reminder {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.reminder-data {
    margin-left: auto;
}

#reminder-holder {
    overflow-y: auto;
}

.reminder h3 {
    font-size: 1.25em;
    display: inline-block;
}

.reminder :is(.date, .chat-name) {
    color: var(--med-grey);
}

:is(#reminder-controls, #button-holder) button {
    padding: 0.3em 0.5em;
    height: fit-content;
}

#reminder-controls,
#button-holder {
    padding-top: 0.5em;
    border-top: 1px solid var(--light-grey);
}
