<!DOCTYPE html>
<html>
    <head>
        <script type="module" src="./chat.js"></script>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/nav.css" />
        <link rel="stylesheet" href="css/sideNav.css" />
        <link rel="stylesheet" href="css/modal.css" />
        <link rel="stylesheet" href="css/message.css" />
    </head>
    <body>
        <div id="app">
            <div
                @click="toggleSettings"
                :class="`invisible ${settingsOpen ? 'visible' : ''}`"
                id="modal-backdrop"
            >
                <article ref="modal" class="modal" @click.stop="0">
                    <div id="settings-wrapper" v-show="settingsOpen">
                        <h2>Settings</h2>
                        <p id="name-editor">
                            <b>In-chat name:</b>
                            <name :actor="$gf.me" :editable="true"></name>
                        </p>
                        <form @submit.prevent="requestUsername">
                            <label for="username-input">
                                <b>Change username:</b> @
                            </label>
                            <div id="username-input">
                                <div
                                    :class="`tooltip-hidden ${usernameInputTooltip ? 'tooltip-top' : ''}`"
                                >
                                    {{usernameInputMessage}}
                                </div>
                                <input
                                    :disabled="checkingUsername"
                                    ref="usernameRequest"
                                    type="text"
                                    v-model="requestedUsername"
                                />
                            </div>
                            <button
                                type="submit"
                                :disabled="checkingUsername"
                                @click="requestUsername"
                            >
                                Request
                            </button>
                        </form>
                        <p>
                            <b>Change profile picture: </b>
                            <input
                                type="file"
                                @change="onPropicUpload"
                                accept="image/*"
                            />
                        </p>
                    </div>
                </article>
            </div>
            <nav id="navbar">
                <h1 @click="temp">Graffiti Chat Network</h1>
                <div id="navbar-controls">
                    <span
                        ><b v-if="$gf.me"
                            ><name :actor="$gf.me"></name>@{{username ? username
                            : "Anonymous"}}</b
                        >
                    </span>
                    <div style="height: 50px; width: 50px" v-if="$gf.me">
                        <propic :actor="$gf.me"></propic>
                    </div>
                    <button v-if="$gf.me" @click="toggleSettings">
                        Settings
                    </button>
                    <button @click="$gf.toggleLogIn">
                        <!-- If we have a user ID, we're logged in so show "Log Out" -->
                        <!-- Otherwise, show "Log In" -->
                        {{ $gf.me? 'Log Out' : 'Log In' }}
                    </button>
                </div>
            </nav>
            <main>
                <nav id="sidenav">
                    <article v-if="$gf.me" id="sidenav-search">
                        <h2>Find Chats</h2>
                        <p>
                            <b>Chat type:</b>
                            <input
                                type="radio"
                                id="channel"
                                :value="false"
                                v-model="searchingPrivate"
                            />
                            <label for="channel">Public Channel</label>

                            <input
                                type="radio"
                                id="pm"
                                :value="true"
                                v-model="searchingPrivate"
                            />
                            <label for="pm">Private Messaging</label>
                        </p>
                        <form
                            @submit.prevent="findChat"
                            v-if="!searchingPrivate"
                        >
                            <label for="channel"> <b>Channel name: </b> </label>
                            <input id="channel" v-model="channelSearch" />
                            <button :disabled="searchingChat">Open chat</button>
                        </form>
                        <form @submit.prevent="findChat" v-else>
                            <label style="position: relative; height: 1em">
                                <b>Recipient username:</b> @
                                <input
                                    ref="usersearch"
                                    :disabled="searchingChat"
                                    v-model="usernameSearch"
                                />
                                <div
                                    :class="`tooltip-hidden ${!searchingChat && invalidUsernameSearch ? 'tooltip-top': ''}`"
                                    style="left: 8em"
                                >
                                    User not found!
                                </div>
                            </label>
                            <button v-if="!searchingChat">Search</button>
                            <img
                                style="height: 1em; margin-left: 2px"
                                v-else
                                src="assets/loader.svg"
                            />
                        </form>
                    </article>
                    <article v-if="$gf.me" id="chatlog">
                        <h2 style="margin-bottom: 0">Recent chats</h2>
                        <section
                            :class="`recent-chat ${i === selectedChat? 'selected' : ''}`"
                            v-for="(chat, i) in recentChats"
                            @click="handleSidenav(chat, i)"
                        >
                            <h3>
                                {{chat.type === "channel" ? chat.name : '@' +
                                chat.username}}
                            </h3>
                        </section>
                    </article>
                </nav>
                <article id="chat-window" v-if="$gf.me">
                    <div id="chat-header">
                        <h2>
                            {{privateMessaging ? "@" + recipientUsername :
                            "Channel: "+channel}}
                        </h2>
                    </div>

                    <!-- A form for sending messages -->
                    <div id="reply-holder" v-if="replyingTo">
                        <div>
                            Replying to
                            <name :actor="replyingTo.actor"></name>:
                            {{replyingToContent}}
                        </div>
                        <span @click="exitReply" id="close-reply">&times;</span>
                    </div>
                    <div id="message-bar">
                        <form @submit.prevent="sendMessage">
                            <input
                                ref="messageBarInput"
                                v-model="messageText"
                                placeholder="Type a message..."
                            />
                            <input
                                ref="fileInput"
                                type="file"
                                @change="onImageAttachment"
                                accept="image/*"
                            />
                            <input
                                ref="sendButton"
                                :disabled="messageText.length === 0 && loadingImage"
                                type="submit"
                                value="Send"
                            />
                        </form>
                    </div>

                    <div
                        id="chat-messageHolder"
                        ref="messageHolder"
                        @scroll="onScroll"
                    >
                        <div id="chat-messageWrapper" @scroll="onScroll">
                            <!-- List all the messages -->
                            <div v-for="message of messages" :key="message.id">
                                <div>
                                    <div
                                        :ref="message.id"
                                        :class="`message-wrapper ${message.actor === $gf.me ? 'my-message' :' other-author'}`"
                                    >
                                        <form
                                            v-if="editID==message.id"
                                            @submit.prevent="saveEditMessage(message)"
                                        >
                                            <input v-model="editText" />
                                            <input type="submit" value="Save" />
                                            <button
                                                type="button"
                                                @click="exitEdit"
                                            >
                                                Cancel
                                            </button>
                                        </form>
                                        <div
                                            v-else
                                            class="message-nameAndContent"
                                        >
                                            <div class="message-body">
                                                <div
                                                    style="
                                                        height: 100%;
                                                        display: flex;
                                                        align-items: center;
                                                    "
                                                >
                                                    <div
                                                        class="message-editDelete"
                                                    >
                                                        <button
                                                            v-if="message.actor === $gf.me"
                                                            @click="removeMessage(message)"
                                                        >
                                                            Delete
                                                        </button>
                                                        <button
                                                            v-if="message.actor === $gf.me"
                                                            @click="startEditMessage(message)"
                                                        >
                                                            Edit
                                                        </button>
                                                        <button
                                                            @click="startReply(message.actor, message.content, message.id)"
                                                        >
                                                            Reply
                                                        </button>
                                                        <like
                                                            :mid="message.id"
                                                        ></like>
                                                    </div>
                                                </div>
                                                <div
                                                    class="message-replyAndContent"
                                                >
                                                    <div
                                                        id="reply-content"
                                                        class="message-content reply"
                                                        v-if="message.inReplyTo && messageCache.get(message.inReplyTo)"
                                                    >
                                                        {{messageCache.get(message.inReplyTo).content}}
                                                    </div>
                                                    <div
                                                        class="message-content"
                                                    >
                                                        {{ message.content }}
                                                        <div
                                                            v-if="message.attachment"
                                                        >
                                                            {{message.attachment}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    style="
                                                        height: 3em;
                                                        width: 3em;
                                                    "
                                                >
                                                    <propic
                                                        :actor="message.actor"
                                                    ></propic>
                                                </div>
                                            </div>
                                            <div class="message-name">
                                                <name
                                                    :actor="message.actor"
                                                ></name>

                                                <span
                                                    v-if="message.inReplyTo && messageCache.get(message.inReplyTo)"
                                                >
                                                    replied to
                                                    <name
                                                        :actor="messageCache.get(message.inReplyTo).actor"
                                                    ></name
                                                ></span>
                                            </div>
                                            <seen
                                                :mid="message.id"
                                                :peekmode="peekMode"
                                            ></seen>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div
                    style="
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                    v-else
                >
                    Log in to access the network!
                </div>
            </main>

            <!-- If we're not logged in, hide everything except the login button -->
        </div>

        <template id="name">
            <span v-if="!editing">
                <!-- If we're not editing the name-->
                <!-- Display the profile's name, if it exists -->
                <!-- or anonymous if it doesn't -->
                {{ profile? profile.name : 'Anonymous' }}<span v-if="editable">
                    {{" "}}<button @click="editName">Edit Name</button>
                </span>
            </span>

            <!-- If we're in the editing state, create something to edit the name-->
            <form v-else @submit.prevent="saveName">
                <input v-model="editText" />
                <input type="submit" value="Save" />
                <button type="button" @click="exitSave">Cancel</button>
            </form>
        </template>
        <template id="like">
            <button @click="sendLike">
                {{myLike ? "Unlike" : "Like"}} ({{likes.length}})
            </button>
        </template>
        <template id="seen">
            <div class="seen-list">
                <span v-if="seen.length > 0">Seen by: </span>
                <span v-for="(seenObj, i) in seenTrimmed" :key="seenObj.actor">
                    <name :actor="seenObj.actor"></name
                    ><span v-if="i < seenTrimmed.length - 1">, </span>
                </span>
                <span v-if="needsEllipses">...</span>
            </div></template
        >
        <template id="propic">
            <img
                style="
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                "
                :src="fetchUrl ?? url"
            />
        </template>
    </body>
</html>
